@import url(http://weloveiconfonts.com/api/?family=iconicfill);
@import url(http://fonts.googleapis.com/css?family=Arvo);
/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif;
}

body #qrcode_body {
    background: #4f3b5b;
    background: -moz-radial-gradient(center, ellipse cover,  #4f3b5b 0%, #231733 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4f3b5b), color-stop(100%,#231733));
    background: -webkit-radial-gradient(center, ellipse cover,  #4f3b5b 0%,#231733 100%);
    background: -o-radial-gradient(center, ellipse cover,  #4f3b5b 0%,#231733 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #4f3b5b 0%,#231733 100%);
    background: radial-gradient(ellipse at center,  #4f3b5b 0%,#231733 100%);
    height: inherit;
    width: inherit;
    font-family:'Arvo'; 
	font-weight: 400;
	font-size: 22px;
    color:#fff;
}

body #qrcode_body #page_name {
    margin:auto auto;
    width: 390px;
    font-weight: 900;
    font-size: 44px;
}

body #qrcode_container {
    width: 300px;
    height: 400px;
    position:relative;
    margin:10% auto;
}

body #qrcode_container #qrcode_img {
    width: 300px;
    height: 300px;
    border: 2px solid;
    margin: auto;
}

body #qrcode_container #qrcode_img img {
    width: 90%;
    height: 90%;
    margin: 5% 5%;
}

body #qrcode_container #fancy_input input {
    display:block;
    width: 300px;
    margin: 20px 0px;
    padding: 15px 0px 15px 0px;
    font-family: "Arvo";
    font-weight: 400;
    color: #377D6A;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px  1px rgba(255,255,255,0.2);
    transition: all .3s ease-in-out;
    position: relative;
    font-size: 13px;
}

body #qrcode_container #fancy_input input::-webkit-input-placeholder {
   color: #B8B8B8 ;
}

body #qrcode_container #fancy_input input::-moz-placeholder { /* Firefox 18- */
   color: #B8B8B8 ;  
}

body #qrcode_container #fancy_input input::-moz-placeholder {  /* Firefox 19+ */
   color: #B8B8B8 ;  
}

body #qrcode_container #fancy_input input::-ms-input-placeholder {  
   color: #B8B8B8 ;  
}

body #qrcode_container #fancy_input input:focus {
    text-indent: 12px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

body #qrcode_container #fancy_input #qrcode_generate {
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float:left;
    height: 40px;
    position: absolute;
    width: 40px;            
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    top: 20.50rem;
    right: 0rem;
}

::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

body #qrcode_container #fancy_input #qrcode_generate:after {
    color:#e9e6e4;
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
    content: "✔";
    left:8px;
    top:4px;
}

body #qrcode_container #fancy_input #qrcode_generate:hover {
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}

body #qrcode_container #fancy_input #qrcode_generate:hover:after{
    color:#83d244;
    text-shadow:0px 0px 6px #83d244;
}

body #qrcode_container #fancy_input #qrcode_generate:active{
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

body #qrcode_container #fancy_input #qrcode_generate:active:after{
    color:#dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

